.requestgrid{
	text-align: center;

	margin-bottom: 50px;
}

.hospitalname{
	border: 1px solid #5BCAA4;
    width: 290px;
    margin: 0 auto;
    margin-top: 40px;
    background: #5BCAA4;
    color: white;
    text-align: center;
    border-radius: 10px;
}
.categoryname{
    text-align: left;
    font-size: 18px;
    font-weight: normal;
}
.heading{
	
	margin-top: 50px;
	margin-bottom: 50px;

	h2{
		text-align: left;

	}
}

.row{
	text-align: left;
	font-size: 15px;
	border-bottom: 1px solid darkgray;
	padding-bottom: 15px;
	.col1{
		ion-label{
			line-height: 0;
			vertical-align: bottom;
			font-weight: bold;
		}
	}
	.col2{
		/*color: darkgray; */
		text-align: right;
		color: darkgray;
		ion-label{
			line-height: 0;
			vertical-align: bottom;
		}
	}
}

.requestlist{
    height: 200px;
    max-height: 200px;
    border: 1px solid black; 
    overflow: auto;
    width: 100%;
}

.requestsummary{
	margin-top: 40px;
	margin-bottom: 25px;
	font-weight: bold;
    font-size: 19px;
}
.rawfood{
	margin-top: 40px;
	margin-bottom: 40px;
	font-weight: bold;
    font-size: 17px;
}

.textcontent{
	width: 80%;
	margin: 0 auto;
	border: 1px solid darkgray;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;

}

.contactnote{
	color: darkgray;
	font-size: 15px;
	margin-top: 40px;
	text-align: left;
}

.categorytextarea{
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: left;
    margin-top: 5px;
    padding: 5px;
}


.searchbutton{
	margin-top: 15px;
}