app-login {
    
}
.logintitle{
        margin-top: 50px;
        margin-bottom: 40px;
    }
.formcenter{
    text-align: center;
    justify-content: center;
}

$white-color: #fff;
$height100: 100%;

ion-grid {
    width:100%;
    height: $height100;
    background: #dfdfdf;
}

ion-row {
    height: $height100;
}

ion-col {
   
    background: $white-color;
}

ion-button {
    font-weight: 300;
}

@media only screen and (min-width: 600px) {
    ion-grid {
        height: auto;
    }
}

ion-content,ion-grid{
    background: ghostwhite;
}
ion-item{
    /*--background: #3880ff;
    --color: #fff; */
    border: 1px solid gray;
    margin-bottom: 5px;
}
ion-button{
    --background: #062f77;
}

.forgotpwd{
    margin-top: 20px;
    margin-bottom: 20px;
}