<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header *ngIf="aboutmenu == 1" (click)="openLoginType()">
              <ion-back-button defaultHref="logintype"></ion-back-button>
              </ion-list-header>
          <ion-list-header>{{userfullname}}</ion-list-header>
          <ion-note>{{useremail}}</ion-note>

          <div *ngIf="menutype == 1">
             <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index" > 

              <!-- About -->
              <ion-item *ngIf="p.title == 'About'" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">

                  <img src="assets/icon/phone.png" style='width: 24px;margin-right: 32px; margin-left: 2px; ' >
                  <ion-label class="appicon">{{ p.title }}</ion-label>
              </ion-item>

              <ion-item *ngIf="p.title != 'About'" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
                  <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
              </ion-item>
          </ion-menu-toggle>
          </div>
          
          <div *ngIf="menutype == 2">
              <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index" > 
                <!-- Switch user type -->
                <ion-item *ngIf="p.title == 'Switch user type'" (click)="switchusertype()" routerDirection="root" lines="none" detail="false" [class.selected]="selectedIndex == i" style="display: none;">
                  <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>

                <!-- Donate -->
                <ion-item *ngIf=" p.title=='Donate' " (click)="donate()" routerDirection="root" lines="none" detail="false" [class.selected]="selectedIndex == i">
                  <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>

                <!-- My requests -->
                <ion-item *ngIf="p.title == 'My requests'" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
                    <img src="assets/icon/interface.png" style='width: 20px;margin-right: 35px; margin-left: 2px; ' >
                    <ion-label class="appicon">{{ p.title }}</ion-label>
                </ion-item>

                <!-- Make a request -->
                <ion-item *ngIf="p.title == 'Make a request'" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
                    <img src="assets/icon/gesture.png" style='width: 21px;margin-right: 35px; ' >
                    <ion-label class="appicon">{{ p.title }}</ion-label>
                </ion-item>

                <!-- Notifications -->
                <ion-item *ngIf="p.title == 'Notifications'" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
                    <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                  <ion-badge class="notifybadge" *ngIf="notifycount > 0" >{{notifycount}}</ion-badge>
                </ion-item>

                <!-- About -->
                <ion-item *ngIf="p.title == 'About'" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
                    <img src="assets/icon/phone.png" style='width: 20px;margin-right: 35px; margin-left: 2px; ' >
                    <ion-label class="appicon">{{ p.title }}</ion-label>
                </ion-item>

                <ion-item *ngIf="p.title != 'Switch user type' && p.title!='Donate' && p.title!='Logout' && p.title != 'My requests' && p.title != 'Make a request' && p.title != 'About' && p.title != 'Notifications' " (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
                  <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>

                <!-- Logout -->
                <ion-item *ngIf="p.title=='Logout' " (click)="logout()" routerDirection="root" lines="none" detail="false" [class.selected]="selectedIndex == i">
                  <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
          </div>
          
          <div *ngIf="menutype == 3">
              <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index" > 
                <!-- Switch user type -->
                <ion-item *ngIf="p.title == 'Switch user type'" (click)="switchusertype()" routerDirection="root" lines="none" detail="false" [class.selected]="selectedIndex == i" style="display: none;">
                  <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>

                <!-- About -->
                <ion-item *ngIf="p.title == 'About'" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
                    <img src="assets/icon/phone.png" style='width: 20px;margin-right: 35px; margin-left: 2px; ' >
                    <ion-label class="appicon">{{ p.title }}</ion-label>
                </ion-item>
                
                <!-- Donate -->
                <ion-item *ngIf=" p.title=='Donate' " (click)="donate()" routerDirection="root" lines="none" detail="false" [class.selected]="selectedIndex == i">
                  <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>

                <!-- My requests -->
                <ion-item *ngIf="p.title == 'My help list'" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
                    <img src="assets/icon/interface.png" style='width: 20px;margin-right: 35px; margin-left: 2px; ' >
                    <ion-label class="appicon">{{ p.title }}</ion-label>
                </ion-item>

                <!-- Notifications -->
                <ion-item *ngIf="p.title == 'Notifications'" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
                    <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                  <ion-badge class="notifybadge" *ngIf="notifycount > 0" >{{notifycount}}</ion-badge>
                </ion-item>

                <ion-item *ngIf="p.title != 'Switch user type' && p.title!='Donate' && p.title!='Logout' && p.title != 'About' && p.title != 'My help list' && p.title != 'Notifications' " (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
                  <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>

                <!-- Logout -->
                <ion-item *ngIf="p.title=='Logout' " (click)="logout()" routerDirection="root" lines="none" detail="false" [class.selected]="selectedIndex == i">
                  <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
          </div>

        </ion-list>
        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
