.requestgrid{
	text-align: center;
}
.textarea{
    text-align: left;
    font-size: 15px;
}
.divtextcenter{
	margin-top: 50px;
}

.requestsbutton{
	margin: auto;margin-top: 50px;width: 150px;

}

.requestitemheading{
    
    border: 1px solid #5BCAA4;
    border-radius: 10px;
    width: 200px;
    margin: 0 auto;
    margin-top: 40px;
    background: #5BCAA4;
    color: white;

}

.divraw{
    text-align: left;
    padding-left: 20x;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.divsubmitbutton{
    margin-bottom: 50px;
}

.helperdetail{
    margin-top: 20px;

    .row{
        margin-left: 10px;
    }
    ion-label{
        font-weight: bold;
    }
    .col1{
        text-align: left;
    }
    .col2{
        text-align: right;
        padding-right: 0;
        label{
            color: gray;
        }
    }
    
}

table{
    thead{
        background: lightgray;
    }
    th,td{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 3px;
        padding-right: 3px;
    }
    td{
        text-align: left;
    }
    
}