
.logintitle{
   	margin-top: 50px;
    margin-bottom: 40px;
}

.formcenter{
    text-align: center;
    justify-content: center;
}

ion-textarea{
	border: 1px solid gray;
    padding: 8px;
    border-radius: 5px;
    height: 190px;
    margin-bottom: 20px;
}

ion-button{
	margin: 0 auto;
}