<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="assets/menu.png" >
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Helping the <img src="assets/logo.svg" style="height: 24px; vertical-align: middle;"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-grid class="logintypegrid" >
      <ion-row color="primary" justify-content-center class='formcenter'>
    
      </ion-row>
    </ion-grid>

</ion-content>
