.formcenter{
    text-align: center;
    justify-content: center;
}
.loginbutton{
	margin-top: 10px;
}
.p_termcondition{
	text-align: center;
	line-height: 25px;
	width: 100%;
	font-size: 16px;
}
.termcondition{
	text-decoration: underline;
	color: blue;
}
.divtextcenter{
	margin-top: 50px;
	margin-bottom: 10px;
}
.inputel{
	font-size: 15px;
}
ion-button{
    --background: #5BCAA4;
    width: 60%;
    margin: 0 auto;
}